@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Process Interface";
}


<gwd-genericad id="gwd-ad">
    <div is="gwd-pagedeck" class="gwd-page-container" id="pagedeck">
        <div is="gwd-page" id="page1" class="gwd-page-wrapper gwd-page-size gwd-lightbox gwd-div-mfer" data-gwd-width="1163px" data-gwd-height="870px" style="">
            <div class="gwd-page-content gwd-page-size gwd-div-gt0m">
                <gwd_animation_label_element data-label-name="label-1" data-label-time="0" data-label-animation-class-name="label-1"></gwd_animation_label_element>
                <img is="gwd-image" src="~/Img/pompe_min.png" id="gwd-image_1" class="gwd-img-waav gwd-img-wx5c" style="">
                <gwd-imagebutton id="gwd-imagebutton_3" up-image="" over-image="" down-image="" class="gwd-imagebutton-n4mw" style="background-image: none;"></gwd-imagebutton>
                <gwd-imagebutton id="s1" up-image="" over-image="" down-image="" class="gwd-imagebutton-ouyj gwd-imagebutton-t6i6 gwd-imagebutton-8rbi gwd-imagebutton-kh31" style="background-image: none;"></gwd-imagebutton>
                <gwd-imagebutton id="b1" up-image="" over-image="" down-image="" class="gwd-imagebutton-ouyj gwd-imagebutton-t6i6 gwd-imagebutton-8rbi gwd-imagebutton-c2c3 gwd-imagebutton-o27t" style="background-image: none;" disabled=""></gwd-imagebutton>
                <gwd-imagebutton id="b3" up-image="" over-image="" down-image="" class="gwd-imagebutton-ouyj gwd-imagebutton-t6i6 gwd-imagebutton-8rbi gwd-imagebutton-c2c3 gwd-imagebutton-xa0z" style="background-image: none;" disabled=""></gwd-imagebutton>
                <gwd-imagebutton id="b2" up-image="" over-image="" down-image="" class="gwd-imagebutton-ouyj gwd-imagebutton-t6i6 gwd-imagebutton-8rbi gwd-imagebutton-c2c3 gwd-imagebutton-vlgv" style="background-image: none;" disabled=""></gwd-imagebutton>
                <gwd-imagebutton id="b4" up-image="" over-image="" down-image="" class="gwd-imagebutton-ouyj gwd-imagebutton-t6i6 gwd-imagebutton-8rbi gwd-imagebutton-c2c3 gwd-imagebutton-3shw" style="background-image: none;" disabled=""></gwd-imagebutton>
                <gwd-imagebutton id="on_off" up-image="" over-image="" down-image="" class="gwd-imagebutton-ouyj gwd-imagebutton-t6i6 gwd-imagebutton-8rbi gwd-imagebutton-ocuf" style="background-image: none;"></gwd-imagebutton>
                <gwd-imagebutton id="s4" up-image="" over-image="" down-image="" class="gwd-imagebutton-ouyj gwd-imagebutton-t6i6 gwd-imagebutton-8rbi gwd-imagebutton-v58u" style="background-image: none;"></gwd-imagebutton>
                <gwd-imagebutton id="s0" up-image="" over-image="" down-image="" class="gwd-imagebutton-ouyj gwd-imagebutton-lucs" scaling="auto" style="background-image: none;"></gwd-imagebutton>
                <gwd-imagebutton id="s3" up-image="" over-image="" down-image="" class="gwd-imagebutton-ouyj gwd-imagebutton-t6i6 gwd-imagebutton-8rbi gwd-imagebutton-pzdq" style="background-image: none;"></gwd-imagebutton>
                <gwd-imagebutton id="s2" up-image="" over-image="" down-image="" class="gwd-imagebutton-ouyj gwd-imagebutton-t6i6 gwd-imagebutton-hjq4" style="background-image: none;"></gwd-imagebutton>
                <div class="gwd-div-uh4s gwd-div-oykc gwd-div-sxa5" data-gwd-group="Group1" style="border-radius: 50%;" id="m1">
                    <gwd-imagebutton up-image="" over-image="" down-image="" class="gwd-imagebutton-hoge gwd-grp-c9z1" style="background-image: none;" data-gwd-grp-id="gwd-imagebutton_2"></gwd-imagebutton>
                </div>
                <div class="gwd-div-uh4s gwd-div-noji" data-gwd-group="Group1" style="border-radius: 50%;" id="m4">
                    <gwd-imagebutton up-image="" over-image="" down-image="" class="gwd-imagebutton-hoge gwd-grp-c9z1" style="background-image: none;" data-gwd-grp-id="gwd-imagebutton_2"></gwd-imagebutton>
                </div>
                <div class="gwd-div-uh4s gwd-div-gd6q" data-gwd-group="Group1" style="border-radius: 50%;" id="m3">
                    <gwd-imagebutton up-image="" over-image="" down-image="" class="gwd-imagebutton-hoge gwd-grp-c9z1" style="background-image: none;" data-gwd-grp-id="gwd-imagebutton_2"></gwd-imagebutton>
                </div>
                <div class="gwd-div-uh4s gwd-div-33uc" data-gwd-group="Group1" style="border-radius: 50%;" id="m2">
                    <gwd-imagebutton up-image="" over-image="" down-image="" class="gwd-imagebutton-hoge gwd-grp-c9z1" style="background-image: none;" data-gwd-grp-id="gwd-imagebutton_2"></gwd-imagebutton>
                </div>
                <canvas is="gwd-bezierpath" width="113" height="43" class="gwd-canvas-9khg" id="alarma" anchors="[[[1.5,0.5,0],[1.5,0.5,0],[1.5,0.5,0]],[[0.5,36.5,0],[0.5,36.5,0],[0.5,36.5,0]],[[26.5,36.5,0],[26.5,36.5,0],[26.5,36.5,0]],[[28.5,0.5,0],[28.5,0.5,0],[28.5,0.5,0]],[[87.5,2.5,0],[87.5,2.5,0],[87.5,2.5,0]],[[112.5,42.5,0],[112.5,42.5,0],[112.5,42.5,0]],[[-40.5,4.5,0],[58.5,23.5,0],[127.43,36.73,0]],[[81.95,22.81,0],[47.96,13.13,0],[33.14,8.91,0]],[[20.5,5.5,0],[20.5,5.5,0],[20.5,5.5,0]],[[85.5,4.5,0],[87.5,2.5,0],[85.5,4.5,0]]]" stroke-width="1" stroke-color="[0,0,0,1]" fill-color="[0.8941176470588236,0.11764705882352941,0.11764705882352941,1]" geom-type="5" style=""></canvas>
                <div class="gwd-animation-event event-1-animation" data-event-name="event-1" data-event-time="0.01"></div>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; width: 1163px; height: 1px; z-index: 9000; background-color: rgb(0, 0, 0);"></div><div style="position: absolute; left: 1162px; top: 0px; width: 1px; height: 870px; z-index: 9000; background-color: rgb(0, 0, 0);"></div><div style="position: absolute; left: 0px; top: 869px; width: 1163px; height: 1px; z-index: 9000; background-color: rgb(0, 0, 0);"></div><div style="position: absolute; left: 0px; top: 0px; width: 1px; height: 870px; z-index: 9000; background-color: rgb(0, 0, 0);"></div>
        </div>
    </div>
</gwd-genericad>



@section styles {
    <link href="~/Content/procces.css" data-version="1.4" rel="stylesheet">
    @*<link href="~/Content/gwdimage_style.css" data-version="1.5" rel="stylesheet">
    <link href="~/Content/gwdpagedeck_style.css" data-version="1.5" rel="stylesheet">*@

}    

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/knockback.min.js"></script>
    <script src="~/Scripts/js.js"></script>


    @*<script data-source="~/Scripts/custom.elements.min.js" type="text/javascript" src="~/Scripts/custom.elements.min.js"></script>
    <script data-source="~/Scripts/gwdpage_min.js" data-version="1.2" data-exports-type="gwd-page" type="text/javascript" src="~/Scripts/gwdpage_min.js"></script>
    <script data-source="~/Scripts/gwdpagedeck_min.js" data-version="1.5" data-exports-type="gwd-pagedeck" type="text/javascript" src="~/Scripts/gwdpagedeck_min.js"></script>
    <script data-source="~/Scripts/gwdgenericad_min.js" data-version="1.1" data-exports-type="gwd-genericad" type="text/javascript" src="~/Scripts/gwdgenericad_min.js"></script>
    <script data-source="~/Scripts/gwdimage_min.js" data-version="1.4" data-exports-type="gwd-image" type="text/javascript" src="~/Scripts/gwdimage_min.js"></script>
    <script data-source="~/Scripts/gwdimagebutton_min.js" data-version="1.3" data-exports-type="gwd-imagebutton" type="text/javascript" src="~/Scripts/gwdimagebutton_min.js"></script>
    <script data-source="~/Scripts/gwdbezierpath_min.js" data-version="1.1" data-exports-type="gwd-bezierpath" type="text/javascript" src="~/Scripts/gwdbezierpath_min.js"></script>

    <script type="text/javascript" src="~/Scripts/gwdid.min.1.0.js" gwd-gwdid-version="1.0"></script>
    <script type="text/javascript" gwd-events="support" src="~/Scripts/gwd-events-support.1.0.js"></script>
    <script type="text/javascript" gwd-events="registration">
    // Support code for event handling in Google Web Designer
    // This script block is auto-generated. Please do not edit!
    gwd.actions.events.registerEventHandlers = function (event) {
            gwd.actions.events.addHandler('on_off', 'click', gwd.on_off_click, false);
        };
        gwd.actions.events.deregisterEventHandlers = function (event) {
            gwd.actions.events.removeHandler('on_off', 'click', gwd.on_off_click, false);
        };
        document.addEventListener("DOMContentLoaded", gwd.actions.events.registerEventHandlers);
        document.addEventListener("unload", gwd.actions.events.deregisterEventHandlers);
       
    </script>*@

    @*<script type="text/javascript" id="gwd-init-code">
        (function () {
            document.body.style.opacity = "0";
            var gwdAd = document.getElementById('gwd-ad');
            /**
             * Handles the DOMContentLoaded event. The DOMContentLoaded event is
             * fired when the document has been completely loaded and parsed.
             */

            function handleDomContentLoaded(event) {
                // This is a good place to show a loading or branding image while
                // the ad loads.
            }

            /**
             * Handles the WebComponentsReady event. This event is fired when all
             * custom elements have been registered and upgraded.
             */
            function handleWebComponentsReady(event) {
                document.body.style.opacity = "";
                // Start the Ad lifecycle.
                setTimeout(function () {
                    gwdAd.initAd();
                }, 0);
            }*@
            @*function handleAdInitialized(event) {
                // This marks the end of the polite load phase of the Ad. If a
                // loading image was shown to the user, this is a good place to
                // remove it.
            }

            window.addEventListener('DOMContentLoaded',
              handleDomContentLoaded, false);
            window.addEventListener('WebComponentsReady',
              handleWebComponentsReady, false);
            window.addEventListener('adinitialized',
              handleAdInitialized, false);
        })();
    </script>*@


    }